py/bin/
py/build
py/dats
py/include
py/lib
py/local
py/share
test.random.c
c-gsl/output/
c-gsl/input/
*rdata
*rhistory
# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
